<div class="listTable">
  <table class="table table-striped mt-4">
    <thead>
      <tr>
        <th class="text-primary pt-3 pb-3 text-start  ">Employee Name</th>
        <th class="text-primary pt-3 pb-3 text-start">Designation</th>
        <th class="text-primary pt-3 pb-3 text-start">Salary</th>
        <th class="text-primary pt-3 pb-3 text-start ">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of employees" class="" >
        <td class="" >{{ employee.empName }}</td>
        <td>{{ employee.designation }}</td>
        <td>{{ employee.empSalary }}</td>
        <td>
          <button
            (click)="updateEmployee(employee.empId)"
            class="btn btn-success"
          >
            Update
          </button>
          <button
            (click)="deleteEmployee(employee.empId)"
            class="btn btn-danger"
            style="margin-left: 10px"
          >
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
