<header class="header p-2 text-warning">
  <div class="container">
    <h2 class="">Employee Management System</h2>
  </div>
</header>
<nav
  class="navbar navbar-expand-sm bg-info navbar-dark container d-flex align-items-center justify-content-evenly"
>
  <!-- <ul class="navbar-nav fw-semibold d-flex gap-3">
    <li class="nav-item bg-primary rounded-3">
      <a routerLink="employees" routerLinkActive="active" class="nav-link"
        >Employee List</a
      >
    </li>
    <li class="nav-item bg-primary rounded-3">
      <a routerLink="create-employee" routerLinkActive="active" class="nav-link"
        >Add Employee</a
      >
    </li>
  </ul> -->
  <ul class="navbar-nav fw-semibold d-flex gap-3">
    <li class="nav-item rounded-3" routerLinkActive="bg-primary">
      <a
        routerLink="employees"
        class="nav-link text-dark"
        routerLinkActive="text-white"
      >
        Employee List
      </a>
    </li>
    <li class="nav-item rounded-3" routerLinkActive="bg-primary">
      <a
        routerLink="create-employee"
        class="nav-link text-dark"
        routerLinkActive="text-white"
      >
        Add Employee
      </a>
    </li>
  </ul>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>
<footer class="footer p-1">
  <div class="container">
    <span>All Rights Reserved Rizwan's</span>
  </div>
</footer>
