.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: auto;
  background-color: green;
  text-align: center;
  color: white;
}
.header {
  position: relative;
  top: 0;
  width: 100%;
  height: auto;
  background-color: green;
  text-align: left;
  color: white;
}

.listTable{
  width: 90%;
  background-color: red;
  margin-left: 5%;
}

.formC{
  border: none;
  outline: none;
}
